<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scheduledTime</key>
		<string>40</string>
		<key>prompt</key>
		<string>You&apos;re using git? Man, version control will just slow you down, you should stop using version control and just use a shared folder</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>Dropbox will totally work!</string>
			<key>Result</key>
			<string>A team member accidentally overwrites your project&apos;s shared folder with pictures of their cat! Sucks to be you!</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>No, love the git and it will love you back</string>
			<key>Result</key>
			<string>A disaster has been averted</string>
		</dict>
	</dict>
	<dict>
		<key>scheduledTime</key>
		<string>100</string>
		<key>prompt</key>
		<string>Hey guys, I think our concept is too limited. We should really convert this into an MMORPG.</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>I mean, how hard can it be?</string>
			<key>Result</key>
			<string>Nobody on your team has the faintest idea how multiplayer networking works, this idea goes nowhere.</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>Nope</string>
			<key>Result</key>
			<string>A disaster has been averted</string>
		</dict>
	</dict>
	<dict>
		<key>scheduledTime</key>
		<string>15</string>
		<key>prompt</key>
		<string>I don&apos;t understand this theme, we should just reuse last year&apos;s game and put the new name on it.</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>Where is the Jam Spirit?</string>
			<key>Result</key>
			<string>Winners don&apos;t cheat! Type faster!</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>Our old game was super cool! No one will even notice</string>
			<key>Result</key>
			<string>There are no comments in your old code and all your method names are incomprehensible garbage. Most of the art remained with the artist who died of autoeroticasphyxiation months earlier.</string>
		</dict>
	</dict>
	<dict>
		<key>scheduledTime</key>
		<string>280</string>
		<key>prompt</key>
		<string>Fuck this game library, we should switch to unity!</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>Unity Wooooo!</string>
			<key>Result</key>
			<string>GREY SCREEN</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>Nope</string>
			<key>Result</key>
			<string>A disaster has been averted.</string>
		</dict>
	</dict>
	<dict>
		<key>scheduledTime</key>
		<string>60</string>
		<key>prompt</key>
		<string>Should we track tasks with a tool like JIRA, or just use sticky notes?</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>Sticky notes!</string>
			<key>Result</key>
			<string>SCRUMMASTER POWER UP! AGILE AS FUCK!!!</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>JIRA!</string>
			<key>Result</key>
			<string>Dawn breaks in Australia and JIRA goes down for maintenence.</string>
		</dict>
	</dict>
	<dict>
		<key>scheduledTime</key>
		<string>200</string>
		<key>prompt</key>
		<string>Oh crap we don&apos;t have any art, and It&apos;s so hard to find good art with an open license, let&apos;s just copy shit off tumblr</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>Who even draws? Lets do it</string>
			<key>Result</key>
			<string>You steal from an artist who happens to be working with another team. They beat you up and take your shoes</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>No</string>
			<key>Result</key>
			<string>opengameart.org, duh</string>
		</dict>
	</dict>
	<dict>
		<key>scheduledTime</key>
		<string>120</string>
		<key>prompt</key>
		<string>For dinner, should we go to Jerusalem&apos;s or just get some gas station burritos?</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>Jerusalem&apos;s</string>
			<key>Result</key>
			<string>Your team is well fed and ready to go!</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>Gas station</string>
			<key>Result</key>
			<string>Bob has died of dysentery.</string>
		</dict>
	</dict>
	<dict>
		<key>scheduledTime</key>
		<string>240</string>
		<key>prompt</key>
		<string>I think we&apos;re ahead of schedule, let&apos;s go party with some undergrads!</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>YES</string>
			<key>Result</key>
			<string>Bob makes a pass at the underage sister of a left defenseman. Three of Bob&apos;s fingers are broken</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>NO</string>
			<key>Result</key>
			<string>It wouldn&apos;t have been any fun anyway. These punks can&apos;t hold their liquor.</string>
		</dict>
	</dict>
	<dict>
		<key>scheduledTime</key>
		<string>160</string>
		<key>prompt</key>
		<string>I&apos;m really worried about the fructose in apples and so forth so want to make a substitute. I was thinking of mixing glucose, artificial apple flavoring, and some kind of non-nutritive fibrous substrate together. Then shaping it into apple shapes and letting it set and then dig in :) but I&apos;m not sure which fiber to choose? I was thinking celery pulp? And how long to dry out to let it set? Thanks!</string>
		<key>Yes</key>
		<dict>
			<key>Choice</key>
			<string>Celery Pulp</string>
			<key>Result</key>
			<string>I think we need more coffee. Also, WTF?</string>
		</dict>
		<key>No</key>
		<dict>
			<key>Choice</key>
			<string>Denim</string>
			<key>Result</key>
			<string>What the actual fuck? I think we need more coffee</string>
		</dict>
	</dict>
</array>
</plist>
